body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('resources/referee.jpg'); /* Replace 'basketball_background.jpg' with your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    overflow: hidden; /* Prevent scrolling */
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.sidebar-title {
    margin: 10 0 0 0;
    font-size: 1.5em;
}

.sidebar-paragraph{
    margin-top: 20px;
    font-size: 1em;
}

.sidebar-settings {
    width: 80%;
}


#settings-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

#settings-button svg {
    margin-right: 5px;
}

#settings-button:hover {
    background-color: #555;
}

#user-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #555;
    border-radius: 8px 0 0 8px;
    background-color: #333;
    color: white;
}

#send-button {
    width: 50px;
    cursor: pointer;
    background: none;
    border: none;
}

#send-button:hover {
    scale: 1.1;
}


/* Adjust the chat container to account for the fixed navbar */
.chat-container {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: calc(fit-content + 40px);
    overflow: hidden; /* Allow scrolling within the chat container */
}


#chat-window {
    overflow-y: auto;
    font-size: large;
    border: 1px solid #444; /* Dark border */
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(34, 34, 34, 0.8); /* Semi-transparent dark background */
    color: #ddd; /* Light text color */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
}

#chat-window .message {
    font-size: 30px;
    display: flex;
    justify-content: flex-start; /* Align messages to the left */
    margin-top: 50px; /* Increased margin */
    padding: 12px;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 0.9); /* Semi-transparent dark gray background */
    color: white;
    text-align: left; /* Align text to the left */
    max-width: 80%; /* Ensure messages do not take up the entire width */
}


#user-input {
    width: calc(100% - 80px);
    padding: 12px;
    border: 1px solid #444; /* Dark border */
    border-radius: 8px;
    margin-bottom: 10px; /* Add some space between input field and Send button */
    background-color: rgba(64, 64, 64, 0.8); /* Semi-transparent dark gray background */
    color: #ddd; /* Light text color */
}

.user-message{
  font-size: 30px;
  display: flex;
  justify-content: flex-start; /* Align messages to the left */
  margin-top: 50px; /* Increased margin */
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(50, 50, 50, 0.9); /* Semi-transparent dark gray background */
  color: white;
  text-align: left; /* Align text to the left */
  max-width: 80%;
}
.user-message strong{
    margin-right: 8px;
}

.user-message svg{
    margin-right: 5px;
    font-size: 15px;
}

.bot-message{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.bot-message strong{
    margin-right: 8px;
}

.bot-message svg{
    margin-right: 5px;
    font-size: 10px;
}

.input-box{
    display: flex;
    align-items: center;
}

/* Additional styles for smaller screens */
@media (max-width: 600px) {
    .chat-container {
        margin: auto; 
        padding: 0;
        height: 100%;
        width: 100%;
    }

    body{
        background-size: cover;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .sidebar{
        width: 100%;
        flex-direction: row;
    }

    .sidebar h1{
        margin-left: 10px;
    }

    .sidebar img{
        display: none;
    }

    .sidebar-paragraph{
        display: none;
    }

    .sidebar-settings span{
        display: none;
    }

    .sidebar-settings{
        width: fit-content;
    }

    .settings-button{
        width: fit-content;
    }

    .settings{
        text-align: center;
        position: relative;
        top: 100px;
        height: calc(fit-content + 40px);
        width: 100%;
    }

    #chat-window {
        height: 70%;
    }
}

@media (min-width: 601px) {
    .chat-container {
        padding: 20px;
        height: 100%;
        margin: 0;
    }

    #chat-window {
        height:calc(100% - 200px);
        margin: 20px auto 20px;
    }
}

/* Additional styles for larger screens */
@media (min-width: 840px) {
    .chat-container {
        margin: 25px auto 25px;
        padding: 20px;
        max-width: 60%;
        height: calc(fit-content + 40px);
    }

    #chat-window {
        height: 70%;
        margin: 20px auto 20px;
    }
}

.loader {
    width: 30px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#ffffff 90%,#bebebe00) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}


.settings{
    display: none;
    background-color: #525252;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: calc(fit-content + 40px);
    margin-bottom: 10px;
    
}

.settings.display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#key-input {
    padding: 12px;
    border: 1px solid #555;
    border-radius: 8px;
    background-color: #333;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

#submit-key {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

#submit-key:hover {
    background-color: #0056b3;
}

.submitter {
    content: '';
    width: 3rem;
    height: 3rem;
    border: 5px solid lightBlue;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0rem 0rem 0.6rem rgba(0,0,0,0.3);
    animation: spin 1s linear infinite;
}
.success {
  background: lightGreen;
  border-color: lightGreen;
}
.fail {
  background: #ffcccb;
  border-color: #ffcccb;
}
.submitter.success{
    &::before {
      height: 7px;
      width: 2.5rem;
      position: absolute;
      top: 65%;
      left: 44%;
      background-color: green;
      transform: rotate(-45deg);
      transform-origin: 0% 50%;
      border-radius: 5px;
      content: '';
    }
    
    &::after {
      height: 7px;
      width: 1.5rem;
      position: absolute;
      top: 70%;
      left: 45%;
      background-color: green;
      transform: rotate(-135deg);
      transform-origin: 0% 50%;
      border-radius: 5px;
      content:'';
    }  
}
.submitter.fail {
     &::before {
      width: 3rem;
      height: 0.5rem;
      background: darkRed;
      transform-origin: 50% 50%;
      top: calc(50% - 0.25rem);
      left: calc(50% - 1.5rem);
      transform: rotate(45deg);
      position: absolute;
      content: '';
      border-radius: 10px;
      animation: leftIn 0.3s linear;
      content: '';
    }
    
    &::after {
       width: 3rem;
      height: 0.5rem;
      background: darkRed;
      transform-origin: 50% 50%;
      top: calc(50% - 0.25rem);
      right: calc(50% - 1.5rem);
      transform: rotate(-45deg);
      position: absolute;
      content: '';
      border-radius: 10px;
      animation: rightIn 0.3s linear;
      content:'';
    } 
}
.submitter.success, .submitter.fail {
  animation: pop 2s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
        border-top: 5px solid blue;
  }
  100% {
    transform: rotate(360deg);
        border-top: 5px solid blue;

  }
}

@keyframes tipGrow {
  0% {
    width: 0px;
    left: 0;
    top: 0;
  }
  25% {
    width: 0px;
    left: 0;
    top: 0; 
  }
  50% {
    top: 0%;
    left: 0%;
    width: 0;
  }
  75% {
    top: 0%;
    left: 0%;
    width: 0rem;
  }
  100% {
    top: 65%;
    left: 50%;
    width: 1.5rem;
  }
}

@keyframes baseGrow {
  0% {

    width: 0;
  }
  90% {
    width: 0;
  }
  100% {

    width: 2.5rem;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);    
  }
  100% {
    transform: scale(1);
  }
}

@keyframes leftIn {
  0% {
    left: 0;
    top: 0;
    width: 0;
  }
  100% {
    top: calc(50% - 0.25rem);
    left: calc(50% - 1.5rem);
    width: 3rem;
  }
}

@keyframes rightIn {
  0% {
    rigth: 0;
    top: 0;
    width: 0;
  }
  100% {
    top: calc(50% - 0.25rem);
    right: calc(50% - 1.5rem);
    width: 3rem;
  }
}